<link rel='stylesheet' href='/stylesheets/view/financial.css' />
<script src="/javascripts/view/financial.js"></script>
<div class="main-container full-height" ng-app="myApp" ng-controller="myCtrl">
  <div class="row">
    <div class="col-sm-2 financial-manager">
      <div class="space-6"></div>
      <img ng-src="\{{model.staffPhotoUrl}}" class="img-circle img-responsive">
      <div class="space-6"></div>
      <p class="financial-manager-name" ng-bind="model.staffName"></p>
      <p class="work-status" ng-class="{'btn-off-duty':model.currentStatus == 4,'btn-on-duty':model.currentStatus == 0,'btn-free':model.currentStatus == 1,'btn-busy':model.currentStatus == 2,'btn-leave':model.currentStatus == 3}" ng-bind="model.currentStatusText"></p>
    </div>
    <div class="col-sm-10 bar-option">
      <button type="button" class="btn-option" ng-class="{'btn-on-duty':model.currentStatus == 4,'btn-off-duty':model.currentStatus != 4}" ng-click="onSwitch()" ng-bind="model.switchButtonText"></button>
      <button type="button" class="btn-option btn-free" ng-show="model.isShowOptionButtons" ng-click="onWaiting()">等待</button>
      <button type="button" class="btn-option btn-busy" ng-show="model.isShowOptionButtons" ng-click="onBusy()">繁忙</button>
      <button type="button" class="btn-option btn-leave" ng-show="model.isShowOptionButtons" ng-click="onLeave()">离开</button>
    </div>
  </div>
  <div class="space-10"></div>
  <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>发起人</th>
                <th>发起时间</th>
                <th>承接人</th>
                <th>回复时间</th>
                <th>业务状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in model.dataList" ng-class="{'success': data.businessStatus == 1,'danger': data.businessStatus == 2,'active': data.businessStatus == 3,'warning': data.businessStatus == 4}">
                <td ng-bind="data.senderName"></td>
                <td ng-bind="data.sendTime"></td>
                <td ng-bind="data.receiverName"></td>
                <td ng-bind="data.receiveTime"></td>
                <td>
                  <span ng-if="data.businessStatus==0">等待回复</span>
                  <span ng-if="data.businessStatus==1 || data.businessStatus==4">办理中</span>
                  <span ng-if="data.businessStatus==4">(已回呼)</span>
                  <span ng-if="data.businessStatus==2">拒绝</span>
                  <span ng-if="data.businessStatus==3">完结</span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-success btn-done" ng-if="data.businessStatus==1" ng-click="onComplete(data.businessID)">完结</button>
                  <button type="button" class="btn btn-sm btn-danger btn-call-back" ng-if="data.businessStatus==1" ng-click="onShowCallBack(data.businessID)">回呼</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <!-- 业务提醒 -->
  <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="dialog-newBusiness">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">业务提醒</h4>
        </div>
        <div class="modal-body">
          <div class="session-body">
            <img ng-src="\{{model.newBusiness.senderPhoto}}" class="img-circle img-responsive">
            <div class="space-normal-1"></div>
            <p ng-bind="model.newBusiness.senderName"></p>
            <p ng-bind="model.newBusiness.sendTime"></p>
            <h2>向您发起一个业务接单</h2>
            <audio src="/voice/alert2.mp3" loop controls="controls" style="display: none" id="alterAudio"></audio>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-primary" ng-click="onAccept()">受理</button>
          <button type="button" class="btn btn-lg btn-danger" ng-click="onReject()">拒绝</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 业务回呼 -->
  <div class="modal fade" tabindex="-1" role="dialog" id="dialog-callBack">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">业务回呼</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li ng-repeat="data in model.callBack.dataList" ng-class="{'choose': data.callbackID == model.callBack.currentCallBackID}" ng-click="onChooseCallBack(data.callbackID)" ng-bind="data.callbackMsg"></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-small btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-small btn-primary" ng-click="onSendCallBack()" ng-disabled = "model.callBack.currentCallBackID === 0">发送</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 催促提醒 -->
  <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="dialog-hurry-up">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">催促提醒</h4>
        </div>
        <div class="modal-body">
          <div class="session-body">
            <img ng-src="\{{model.hurryUp.senderPhoto}}" class="img-circle img-responsive">
            <div class="space-normal-1"></div>
            <p ng-bind="model.hurryUp.senderName"></p>
            <p ng-bind="model.hurryUp.sendTime"></p>
            <h3>您收到一条催促提醒，请尽快办理完成当前业务。</h3>
            <audio src="/voice/alert1.mp3" loop controls="controls" style="display: none" id="hurryAudio"></audio>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-small btn-primary" ng-click="onKnow(model.hurryUp.businessID)">知道了</button>
        </div>
      </div>
    </div>
  </div>
</div>
