.main-container{
  background: url("../../images/bg.jpeg") no-repeat center center fixed;
  background-size: cover;
  padding: 35px;
}
.financial-manager{
  text-align: center;
}
.financial-manager-name{
  font-size: 24px;
}
.btn-option{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
}
.btn-on-duty{
  background-color: #2125ae;
  border: none;
  color: #ffffff;
}
.btn-off-duty{
  background-color: #b3b3b3;
  border: none;
  color: #5f5858;
}

.btn-free{
  background-color: #4cae4c;
  border: 1px solid #4cae4c;
  color: #ffffff;
}
.btn-busy{
  background-color: #d80e0e;
  border: 1px solid #d80e0e;
  color: #ffffff;
}
.btn-leave{
  background-color: #ed7d31;
  border: 1px solid #ed7d31;
  color: #ffffff;
}
.bar-option{
  padding-left: 55px;
  padding-top: 30px;
}
.bar-option .lcs_wrap {
  margin-right: 60px;
}
.work-status{
  border-radius: 15px;
  width: 60%;
  margin: 0 auto;
}
.bar-option button {
  margin-right: 40px;
}
.table-responsive{
  height: 420px;
  overflow: auto;
}
.table-responsive table tr{
  height: 47px;
  background-color: #ffffff;
}
table tbody {
  display: block;
  height: 312px;
  overflow-y: scroll;
}

table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table td{
  vertical-align: middle !important;
}
table th{
  vertical-align: middle !important;
}
.table-responsive .success{
  color: #328232;
}
.table-responsive .active{
  color: #9c9a9a;
}
.table-responsive .danger{
  color: #a94442;
}
.table-responsive .info{
  color: #0e71d2;
}
.table-bordered {
  border: none;
}
.session-body {
  text-align: center;
}
.session-body img{
  width: 150px;
  margin: 0 auto;
}
#dialog-callBack .modal-body{
  padding-left: 0;
}
#dialog-callBack ul{
  list-style-type: none;
  margin-left: -15px;
}
#dialog-callBack ul li{
  padding: 12px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#dialog-callBack ul li:last-child{
  border-bottom: 1px solid #cccccc;
}
.choose{
  background-color: #dff0d8;
  color: #328232;
}
#dialog-callBack ul li .active{
  background-color: #cccccc;
}